{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | Objetivify</title>

    <link
      rel="icon"
      type="image/png"
      href="{% static 'polls/images/objetivify.png' %}"
    />
    <link rel="stylesheet" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">

    {% block dark-mode-vars %}
        <link rel="stylesheet" href="{% static "admin/css/dark_mode.css" %}">
        <script src="{% static "admin/js/theme.js" %}"></script>
    {% endblock %}

    {% comment %} <script type="text/javascript" async src="https://unpkg.com/@tailwindcss/browser@4"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/tailwindcss-cdn@3.4.10/tailwindcss.js"></script>

    <link rel="stylesheet" href="{% static 'custom_calendar/style.css' %}">
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}

    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
  </head>

  <body class="grid grid-rows-[var(--grid-template-rows)] {% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">
    <a href="#content-start" class="skip-to-content-link">{% translate 'Skip to main content' %}</a>
    {% include "blocks/color_theme_toggle.html" %}

    {% if not is_popup %}
        <!-- Header -->
        {% block header %}
        <header class="pl-24 sm:grid lg:grid-cols-[var(--grid-template-header-columns)] sm:grid-cols-[var(--grid-template-header-alt-columns)] justify-center items-center">
          {% block branding %}
            <div id="site-name"><a href="{% url 'polls:home' %}"><span style="font-weight: bold; text-decoration: underline;">Objetivify</span></a></div>
          {% endblock %}
          {% block header_content %}
          {% endblock %}
          {% block header_content_end %}
            <div class="flex justify-end min-w-20">
              {% if user.is_authenticated %}
                {% include "blocks/button.html" with url='polls:logout' text="Logout" %}
              {% else %}
                {% include "blocks/button.html" with url='polls:login' text="Login" %}
              {% endif %}
            </div>
          {% endblock %}
        </header>
      {% endblock %}
      <!-- END Header -->

    {% block nav-breadcrumbs %}
      <nav aria-label="{% translate 'Breadcrumbs' %}">
        {% block breadcrumbs %}
          <div class="breadcrumbs">
            {% if title %} &rsaquo; {{ title }}{% endif %}
          </div>
        {% endblock %}
      </nav>
    {% endblock %}
    {% endif %}

    <div class="main" id="main">
        <main id="content-start" class="content" tabindex="-1">
          {% block messages %}
            {% if messages %}
              <ul class="messagelist">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
              {% endfor %}</ul>
            {% endif %}
          {% endblock messages %}
          <!-- Content -->
          <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            {% block object-tools %}{% endblock %}
            {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
            {% block content %}
              {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
            <br class="clear">
          </div>
          <!-- END Content -->
           {% block modal %}
           {% endblock %}
        </main>
      </div>
      
      <footer id="footer" class="z-[-1]">
        {% block footer %}{% endblock %}
      </footer>

      {% block extrabody %}
      {% endblock extrabody %}
  </body>
</html>
