{% extends "base/base_site.html" %}
{% block title %}Calendar for {{ year }}{% endblock %}

{% block header_content %}
    <div class="container flex justify-start items-center border-4 border-[var(--body-quiet-color)]">
        {% include "blocks/button.html" with url='calendar:index' action=prev_month text="Previous Month" %}
        {% include "blocks/button.html" with url='calendar:index' action=next_month text="Next Month" %}
        {% if is_owner %}
            {% include "blocks/custom_button.html" with action=add_objective text="New Objective" %}
        {% endif %}
    </div>
{% endblock %}

{% block nav-breadcrumbs %}
<nav aria-label="Calendar-Breadcrumbs">
  {% block breadcrumbs %}
    <div class="breadcrumbs">
        {% if is_owner %}
            <a href="{{ calendar_new }}" class="w-full my-4 me-4 text-[var(--accent)]">New calendar</a>
            {{ calendar_format }} calendar - 
            <a href="{{ change_format }}">Change Format</a>        
            <a class="w-full my-4 mx-4" href="{% url 'calendar:index' %}">My Calendar</a>
            <a class="w-full my-4 mx-4" href="{{ goToOthersCalendars }}">Others calendars</a>
        {% else %}
            <a class="w-full my-4 mx-4" href="{% url 'calendar:index' %}">My Calendar</a>

            {% if user.is_authenticated  %}
                <a class="w-full my-4 mx-4" href="{{ goToOthersCalendars }}">Others calendars</a>
            {% endif %}
        {% endif %}
    </div>
  {% endblock %}
</nav>
{% endblock %}

{% block content %}
<div class=" md:grid grid-cols-6">
    <div class="container">
        <p class="font-bold text-xl text-[var(--accent)]">Calendar for {{ year }}</p>
        <div class="grid grid-cols-3 md:grid-cols-none border-b-4 md:border-b-0 md:border-r-4 border-[var(--body-quiet-color)]">
        {% for month in months %}
            {% if forloop.counter == current_month %}
                {% include "blocks/select_month.html" with goToMonth=goToMonth text=month year=year index=forloop.counter active=True %}
            {% else %}
                {% include "blocks/select_month.html" with goToMonth=goToMonth text=month year=year index=forloop.counter %}
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class='container col-span-5 p-2'>
    {{ calendar }}
    </div>
</div>
{% endblock %}

{% block modal %}
    <div id="my_modal" class="modal">
        <div class="modal-content relative max-w-md p-4 w-full bg-[var(--body-quiet-color)]">
            <button aria-label="Close modal" class="close_modal absolute top-4 right-4">
                <div class="grid content-center justify-center size-[30px] bg-[var(--body-medium-color)] text-center overflow-hidden transition-colors ease-global motion-safe:duration-350 motion-reduce:duration-0 p-4 hover:bg-[var(--button-custom-hover-bg)] font-bold text-2xl text-[var(--accent)]">
                    &times;
               </div>
            </button>
            <div id="modal_body">
                <!-- Content will be loaded here -->
            </div>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
<script>
    var modal = document.getElementById("my_modal");
    var btn = document.getElementsByClassName("open_modal");
    var span = document.getElementsByClassName("close_modal")[0];


    for (var i = 0; i < btn.length; i++) {
        btn[i].onclick = function() {
            let name = this.getAttribute("name");
            
            fetch(name)
                .then(response => response.text())
                .then(data => {
                    document.getElementById("modal_body").innerHTML = data;
                    modal.style.display = "block";
                }).catch(error => {
                    document.getElementById("modal_body").innerHTML = "Error loading content";
                    modal.style.display = "block";
                });
        }
    }
    
    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}