{% extends "polls/base_site.html" %}
{% block title %} Login {% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'polls:home' %}"><span style="font-weight: bold; text-decoration: underline;">Objetivify</span> login</a></div>
{% endblock %}

{% block content %}
<div class="container flex flex-col w-full content-center justify-center items-center">
  {% if form.errors and not form.non_field_errors %}
  <p class="errornote">
    {{ form.errors.items|length }} Please correct the error below. Please correct the errors below.
  </p>
  {% endif %}

  {% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  <p class="errornote">
      {{ error }}
  </p>
  {% endfor %}
  {% endif %}

  <div class="bg-[var(--body-quiet-color)] p-4 max-w-md w-full">

  {% if user.is_authenticated %}
  <p class="errornote">
      You are authenticated as {{ username }}, but are not authorized to
      access this page. Would you like to login to a different account?
  </p>
  {% endif %}

  <form action="{% url 'polls:login' %}" method="post" id="login-form">{% csrf_token %}
    {% if errors %}
    <div class="errornote">
      {% for error in errors %}
      {{ error }}
      {% endfor %}
    </div>
    {% endif %}
    <div class="form-row grid grid-rows-2 mb-4">
      {{ form.username.label_tag }} {{ form.username }}
    </div>
    <div class="form-row grid grid-rows-2 mb-2">
      {{ form.password.label_tag }} {{ form.password }}
      <input type="hidden" name="next" value="{{ next }}">
    </div>
    {% url 'admin_password_reset' as password_reset_url %}
    {% if password_reset_url %}
    <div class="password-reset-link mb-2">
      <a href="{{ password_reset_url }}">Forgotten your login credentials?</a>
    </div>
    {% endif %}
    <a href="{% url 'polls:register' %}" class="mb-4">Don't have an account?</a>
    <div class="submit-row mt-4">
      <input type="submit" value="Log in">
    </div>
  </form>
  </div>
</div>
{% endblock %}