{% extends "polls/base_site.html" %}
{% block title %} Register {% endblock %}

{% block branding %}
  <div id="site-name"><a href="{% url 'polls:home' %}"><span style="text-decoration: underline;">Objetivify</span> Register</a></div>
{% endblock %}

{% block content %}
<div class="container flex flex-col w-full content-center justify-center items-center">
  {% if form.errors and not form.non_field_errors %}
  <p class="errornote max-w-md w-full">
    {{ form.errors.items|length }} Please correct the error below. Please correct the errors below.
  </p>
  {% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div class="bg-[var(--body-quiet-color)] p-4 max-w-md w-full">

{% if user.is_authenticated %}
<p class="errornote">
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
</p>
{% endif %}

<form action="{% url 'polls:register' %}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row grid grid-rows-2 mb-4">
    {{ form.errors.username }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="form-row grid grid-rows-2 mb-4">
    {{ form.errors.password1 }}
    {{ form.password1.label_tag }} {{ form.password1 }}
  </div>
  <div class="form-row grid grid-rows-2 mb-4">
    {{ form.errors.password2 }}
    {{ form.password2.label_tag }} {{ form.password2 }}
  </div>
  <a href="{% url 'polls:login' %}" class="mb-4">Already have an account?</a>
  <div class="submit-row mt-4">
    <input type="submit" value="Register">
  </div>
</form>

</div>
</div>
{% endblock %}