{% extends "polls/base_site.html" %}

{% load static %}

{% block title %} Homepage {% endblock %}

{% block header %}
  <div class="p-4 flex flex-row justify-end gap-4">
    
    {% if user.is_authenticated %}
      {% include "blocks/button_secondary.html" with url='calendar:index' text='Calendar' %}
      {% include "blocks/button_secondary.html" with url='polls:logout' text='Logout' %}
    {% else %}
      {% include "blocks/button_secondary.html" with url='polls:login' text='Login' %}
      {% include "blocks/button_secondary.html" with url='polls:register' text='Register' %}
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <div class="grid grid-cols-2 border border-[var(--border-color)]">
      <div class="col content-center overflow-hidden">
          <div class="flex justify-center align-center">
            <p class="font-bold text-4xl md:text-6xl lg:text-9xl">Objetivify</p>
          </div>  
      </div>
      <div class="col border border-[var(--border-color)]"> 
        <div class="row border border-[var(--border-color)] bg-[url('{% static 'polls/images/background.svg' %}')] bg-cover bg-center">
            <div class="row mt-8 mb-8 grid justify-center">
              
            </div>  
        </div>
        <div class="row mt-4 mb-4 grid justify-center">
          <a href="https://render.com" target="_blank">
            <img src="{% static "render-banner.webp" %}" alt="Homepage banner"
            class="mw-100">
          </a>
        </div>  
      </div>
      <div class="col border border-[var(--border-color)] bg-[url('{% static 'polls/images/background.svg' %}')] bg-cover bg-center">
        <div class="row">
          <div class="row mt-8 mb-8 grid justify-center">
          </div>  
        </div>
      </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="flex justify-between border-t border-[var(--border-color)]">
    <div class="row text-center">
      {% if user.is_authenticated %}
          <p class="text-sm">Hello {{ user.username }}!</p>
      {% else %}
          <p class="text-sm">Hello World!</p>
      {% endif %}
    </div>  
    <div class="row">
      <p class="text-sm">Copyright © 2025 ConcatenateLine. All rights reserved.</p>
    </div>
  </div>
{% endblock %}
